In [42]:
import numpy as np
import pandas as pd
from LLS import LinearLeastSquare
from train_test_split import train_test_split
from sklearn.metrics import mean_absolute_error

In [43]:
data = pd.read_csv("input/Dollar_Rial_Price_Dataset.csv")
data.head()

         Date Persian_Date    Open     Low    High   Close
0  11/27/2011   1390/09/06  13,700  13,700  13,700  13,700
1  11/28/2011   1390/09/07  13,440  13,440  13,440  13,440
2  11/29/2011   1390/09/08  13,350  13,350  13,350  13,350
3  11/30/2011   1390/09/09  13,400  13,400  13,400  13,400
4   12/1/2011   1390/09/10  13,500  13,500  13,500  13,500

In [44]:
def my_func(x: str):
    return x.replace(",", "")


data.drop(["Persian_Date"], inplace=True, axis=1)
data.drop_duplicates(inplace=True)
data["High"] = data["High"].apply(my_func)
data["Low"] = data["Low"].apply(my_func)
data["Open"] = data["Open"].apply(my_func)
data["Close"] = data["Close"].apply(my_func)
data.head()

         Date   Open    Low   High  Close
0  11/27/2011  13700  13700  13700  13700
1  11/28/2011  13440  13440  13440  13440
2  11/29/2011  13350  13350  13350  13350
3  11/30/2011  13400  13400  13400  13400
4   12/1/2011  13500  13500  13500  13500

In [45]:
data["High"] = pd.to_numeric(data["High"], errors="coerce")
data["Low"] = pd.to_numeric(data["Low"], errors="coerce")
data["Open"] = pd.to_numeric(data["Open"], errors="coerce")
data["Close"] = pd.to_numeric(data["Close"], errors="coerce")

In [46]:
data["Date"] = pd.to_datetime(data["Date"], format="%m/%d/%Y")
ahmadinejad_presidency = data.loc[(
    data["Date"] >= "11/27/2011") & (data["Date"] < "08/03/2013")].reset_index()
rohani_presidency = data.loc[(
    data["Date"] >= "08/03/2013") & (data["Date"] < "08/03/2021")].reset_index()
raisi_presidency = data.loc[(data["Date"] >= "08/03/2021")
                            & (data["Date"] < "07/26/2023")].reset_index()

raisi_presidency.head()

   index       Date    Open     Low    High   Close
0   2857 2021-08-03  255790  255690  258140  257290
1   2858 2021-08-04  257250  254690  257340  256190
2   2859 2021-08-05  256490  255790  256740  256190
3   2860 2021-08-07  254190  253990  257140  256380
4   2861 2021-08-08  256290  252390  257440  256890

In [47]:
print(
    f"highest dollar price of ahmadinejad presidency is {ahmadinejad_presidency['High'].max()} Rial.\n")
print(
    f"highest dollar price of rohani presidency is {rohani_presidency['High'].max()} Rial.\n")
print(
    f"highest dollar price of raisi presidency is {raisi_presidency['High'].max()} Rial.")

highest dollar price of ahmadinejad presidency is 39700 Rial.

highest dollar price of rohani presidency is 320060 Rial.

highest dollar price of raisi presidency is 555600 Rial.

In [48]:
print(
    f"lowest dollar price of ahmadinejad presidency is {ahmadinejad_presidency['Low'].min()} Rial.\n")
print(
    f"lowest dollar price of rohani presidency is {rohani_presidency['Low'].min()} Rial.\n")
print(
    f"lowest dollar price of raisi presidency is {raisi_presidency['Low'].min()} Rial.")

lowest dollar price of ahmadinejad presidency is 13350 Rial.

lowest dollar price of rohani presidency is 12850 Rial.

lowest dollar price of raisi presidency is 251250 Rial.

In [49]:
x_ahmadinejad = ahmadinejad_presidency['Date'].values.astype(np.int64)
y_ahmadinejad = ahmadinejad_presidency['High'].values

ah_x_train, ah_y_train, ah_x_test, ah_y_test = train_test_split(
    x_ahmadinejad, y_ahmadinejad)
ah_x_train, ah_x_test, ah_y_train, ah_y_test = ah_x_train.reshape(
    -1, 1), ah_x_test.reshape(-1, 1), ah_y_train.reshape(-1, 1), ah_y_test.reshape(-1, 1)

print(f"x_train shape is {ah_x_train.shape}")
print(f"y_train shape is {ah_y_train.shape}")
print(f"x_test shape is {ah_x_test.shape}")
print(f"y_test shape is {ah_y_test.shape}")

x_train shape is (385, 1)
y_train shape is (385, 1)
x_test shape is (97, 1)
y_test shape is (97, 1)

In [50]:
x_rohani = rohani_presidency["Date"].values.astype(np.int64)
y_rohani = rohani_presidency["High"].values

rh_x_train, rh_y_train, rh_x_test, rh_y_test = train_test_split(
    x_rohani, y_rohani)
rh_x_train, rh_x_test, rh_y_train, rh_y_test = rh_x_train.reshape(
    -1, 1), rh_x_test.reshape(-1, 1), rh_y_train.reshape(-1, 1), rh_y_test.reshape(-1, 1)

print(f"x_train shape is {rh_x_train.shape}")
print(f"y_train shape is {rh_y_train.shape}")
print(f"x_test shape is {rh_x_test.shape}")
print(f"y_test shape is {rh_y_test.shape}")

x_train shape is (1900, 1)
y_train shape is (1900, 1)
x_test shape is (475, 1)
y_test shape is (475, 1)

In [51]:
x_raisi = raisi_presidency["Date"].values.astype(np.int64)
y_raisi = raisi_presidency["High"].values

ri_x_train, ri_y_train, ri_x_test, ri_y_test = train_test_split(
    x_raisi, y_raisi)
ri_x_train, ri_x_test, ri_y_train, ri_y_test = ri_x_train.reshape(
    -1, 1), ri_x_test.reshape(-1, 1), ri_y_train.reshape(-1, 1), ri_y_test.reshape(-1, 1)

print(f"x_train shape is {ri_x_train.shape}")
print(f"y_train shape is {ri_y_train.shape}")
print(f"x_test shape is {ri_x_test.shape}")
print(f"y_test shape is {ri_y_test.shape}")

x_train shape is (362, 1)
y_train shape is (362, 1)
x_test shape is (91, 1)
y_test shape is (91, 1)

In [52]:
lls_ah = LinearLeastSquare()
lls_ah.fit(ah_x_train, ah_y_train)
ah_y_pred = lls_ah.predict(ah_x_test)

In [53]:
lls_rh = LinearLeastSquare()
lls_rh.fit(rh_x_train, rh_y_train)
rh_y_pred = lls_rh.predict(rh_x_test)

In [54]:
lls_ri = LinearLeastSquare()
lls_ri.fit(ri_x_train, ri_y_train)
ri_y_pred = lls_ri.predict(ri_x_test)

In [55]:
print(f"\nMAE of ahmadinejad is {mean_absolute_error(ah_y_test, ah_y_pred)}.\n")
print(f"MAE of rohani is {mean_absolute_error(rh_y_test, rh_y_pred)}.\n")
print(f"MAE of raisi is {mean_absolute_error(ri_y_test, ri_y_pred)}.\n")

MAE of ahmadinejad is 1.3483275778064891e+25.

MAE of rohani is 2.9542339366376457e+26.

MAE of raisi is 1.3876733699761177e+27.